<%- include("./partials/Auth-Room-New-Edit/header")%>
<div class="container p-0">
    <div class="btn-leave text-right">
        <a href="#" class="btn btn-info btn-sm align-self-baseline"><i class="fas fa-info"></i></a>
        <a href="#" class="btn btn-sm align-self-baseline" style="width: 45px; height: 45px; border: 1px solid #6DD5FA;background-image: url('<%=room.image%>');background-size: cover;background-position: center;"></a>
        <a href="/rooms" class="btn btn-danger btn-sm align-self-baseline"><i class="fas fa-sign-out-alt"></i></a>
    </div>
    <div class="row chatrow">
        <div class="contacts-container col-3 p-1">

            <%contacts.forEach(function (contact) {%>
                 <li class="list-group-item list-group-item-info"><img class="avatar" src="<%=contact.avatar%>" class="rounded-sm pt-1" width="30" height="30">  <%=contact.userName%><span class="online-span"></span></li>
            <%})%>
        </div>
        <div class="chat-container col-9 p-0">
            <div class="messages-container">
                <ul id="messages" class="list-group">
                    <% room.messages.forEach((message)=>{%>
                        <% if(currentUser&&message.author.username == currentUser.username){ %>
                        <li class="mymessage list-group-item align-self-start m-3 list-group-item-info"><%=message.author.username%> : <%=message.text%></li>
                        <%}else{%>
                        <li class="othermessage list-group-item align-self-end m-3 list-group-item-secondary"><%=message.author.username%> : <%=message.text%></li>
                        <%}%>
                    <%})%>
                </ul>
            </div>
            <form action="/rooms/<%=room._id%>/message/new" method="POST">
                <div class="form-inline mt-1 align-self-end">
                    <input class="form-control" type="text" id="m" name="message[text]" autocomplete="off">
                    <button id="sendButton" class="btn btn-success">SEND</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script
        src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>
</body>
</html>