<%- include("./partials/Auth-Room-New-Edit/header")%>

<div class="container-fluid">
    <div class="editroom-container text-center">
        <div class="text-center"><h1>Edit <%= room.title%> room</h1></div>
        <form action="/rooms/<%= room._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
            <div class="upload-image">
                <div class="form-group">
                    <label for="image" class="label" style="background-image: url('<%= room.image%>');background-size: cover;background-position: center;background-color: rgba(255,255,255,0.2)">
                        <i class="far fa-file-image"></i>
                        <span class="title">Change image</span>
                        <input type="file" id="image" name="room[image]" accept="image/*" required>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label for="title" class="label">Title</label>
                <input id="title" class="form-control" type="text" value="<%= room.title%>" name="room[title]" autocomplete="off">
            </div>
            <div class="form-group">
                <label for="text-description" class="label">Description</label>
                <textarea id="text-description" class="form-control" name="room[description]" rows="5" autocomplete="off"><%= room.description%></textarea>
            </div>
            <button class="btn btn-outline-warning btn-lg">EDIT</button>
        </form>
    </div>
</div>

<%- include("./partials/Auth-Room-New-Edit/footer")%>