<%- include("./partials/Auth-Room-New-Edit/header")%>

<div class="container">
    <div class="row m-5">
        <% rooms.forEach(function(room){ %>
        <div class="col-3">
            <div class="card text-center p-3">
                        <img src="<%=room.image%>" class="card-img-top" alt="...">
                <div class="card-body text-white">
                    <h5 class="card-title"><%=room.title%></h5>
                    <p class="card-text"><%=room.description%></p>
                    <a href="/rooms/<%=room._id%>/checkuser" class="btn btn-lg btn-outline-info">See chat</a>
<!--                    <a href="/rooms/<%=room._id%>" class="btn btn-primary">See chat</a>-->
                    <% if(currentUser&&room.author.id.equals(currentUser._id)){ %>
                    <div class="edit-delete-container">
                        <a href="/rooms/<%=room._id%>/edit-room" class="btn btn-outline-warning btn-sm">Edit chat</a>
                        <form class="deleteForm" action="/rooms/<%=room._id%>/delete-room?_method=DELETE" method="POST" >
                            <button class="btn btn-outline-danger btn-sm">Delete</button>
                        </form>
                    </div>
                    <%}%>
                </div>
            </div>
        </div>
            <% }) %>
        <div class="col-3">
            <div id="newRoomCard" class="card text-center bg-transparent p-5 text-white" style="height: 220px; width: 220px">
                <a class="text-white" href="/new-room"><i class="fas fa-plus"></i></a>
                <h5 class="card-title">Create New Room</h5>
            </div>
        </div>
    </div>

</div>
<%- include("./partials/Auth-Room-New-Edit/footer")%>