<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/app.css" type="text/css">
    <script src="https://kit.fontawesome.com/8ee8b946fd.js" crossorigin="anonymous"></script>
</head>

    <body>
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
                <div class="row col-12">
                    <div class="col-6 col-md-6">
                        <a class="navbar-brand" href="/rooms">CYBERCHAT</a>
                    </div>
                    <div class="navbar-nav col-6 justify-content-end">
                        <img class="avatar" src="<%=profile.avatar%>">
                        <li class="nav-item dropdown">
                            <a class="nav-item nav-link dropdown-toggle" href="#" id="userName" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%=currentUser.username%></a>
                            <div class="dropdown-menu dropdown-menu-right bg-transparent" aria-labelledby="userName">
                                <a class="dropdown-item" href="/edit-profile/<%=currentUser._id%>"><i class="fas fa-cog"></i> Edit profile</a>
                                <a class="dropdown-item" href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
                            </div>
                        </li>
                    </div>
                </div>
            </nav>
        </div>
        <div>
            <% if(error && error.length > 0){ %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
            <% }else if(success && success.length > 0){ %>
                <div class="alert alert-success" role="alert">
                    <%= success %>
                </div>
            <% } %>
        </div>